.leftpic {
    float: left; 
    margin: 20 20 5px 5px; 
}

.texttitle {
  color: green;
  font-size: 38px;
  text-align: center;
  padding: 30px;
}

.textprofile {
  color: blue;
  font-size: 28px;
  text-align: left;
  padding: 10px;
  margin-left: 100px;
}

.mtext {
  color: blue;
  font-size: 18px;
  text-align: left;
  padding: 10px;
  margin-left: 350px;
}

.nametext {
  color: red;
  font-size: 28px;
  text-align: left;
  padding: 10px;
  margin-left: 350px;
}
